:root {
  /* colores primarios */

  --White: hsl(0, 0%, 100%);
  --Black: hsl(0, 0%, 0%);
  --DarkGray: hsl(0, 0%, 55%);
  --ligthGray: hsla(0, 0%, 89%, 0.649);

  --VeryDarkGray: hsl(0, 0%, 41%);
  --CardColor: hsl(40, 100%, 60%); /* Un color naranja vibrante como ejemplo */

  /* fuenets  */

  --fontPrimary: "Alata", sans-serif;
  --fontSecundary: "Josefin Sans", sans-serif;
}

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
  font-size: 62.5%; /* =10px */
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* Globales  */
img {
  width: 100%;
  height: auto;
}
.card-img-top {
  width: 100%;
  height: auto;
}
.img-icon {
  max-width: 15%;
}
a {
  text-decoration: none;
  color: var(--White);
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
body {
  font-family: var(--fontPrimary);
  font-size: 1.6rem;
  line-height: 2; /** Interlineado**/
}

#miVideo {
  width: 100%;
  height: auto;
}

/* utilidades */
.contenedor {
  max-width: 120rem; /** El ancho maximo del contenedor sera de 1200px o 120rem **/
  width: 90%; /** en un dispositivo pequeño el contenedor ocupara solo el 90% de su capacidad*/
  margin: 0 auto; /** el margin de arriba y abajo sera de 0 y el de la derecha e izqueirda sera autommatico, en funcion del espacio que encuentra **/
}
.text-center {
  text-align: center;
}
.text-deco {
  background-color: #a443ffb0;
  padding: 1rem;
  font-family: var(--fontPrimary);
  font-style: italic;
}

/* header */

header {
  background-image: url(/images/desktop/hero.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 50rem;
}

.header {
  background-image: url(/images/desktop/hero.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 12rem;
}

@media (max-width: 992px) {
  .menu-navegacion_item a {
    color: var(--Black);
  }
}

.menu-navegacion {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: 480px) {
  .menu-navegacion_item {
    display: flex;
    gap: 2rem;
    align-items: center;
    text-align: center;
    padding: 0;
  }
}

.logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo-imagen {
  max-width: 8rem;
}

.logo-text {
  font-size: 3rem;
  color: var(--White);
  text-transform: uppercase;
}

.menu-navegacion_item a {
  text-decoration: none;
  background: linear-gradient(
      to right,
      rgba(100, 200, 200, 1),
      rgba(100, 200, 200, 1)
    ),
    linear-gradient(
      to right,
      rgba(255, 0, 0, 1),
      rgba(255, 0, 180, 1),
      rgba(0, 100, 200, 1)
    );
  background-size: 100% 3px, 0 3px;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 400ms;
}
.menu-navegacion_item a:hover {
  background-size: 0 3px, 100% 3px;
}

/* header text */
.hero h1 {
  text-transform: uppercase;
  color: var(--White);
  font-family: var(--fontSecundary);
  font-weight: 300;
  font-size: 3.5rem;
  border: 2px solid var(--White);
  margin-top: 6rem;
  padding: 2rem;
}
@media (min-width: 480px) {
  .hero h1 {
    font-size: 4.5rem;
    margin-top: 12rem;
  }
}

/* kepler  */

.kepler-info {
  margin-top: 4rem;
}

.kepler-info_text h2 {
  font-size: 4rem;
  font-family: var(--fontSecundary);
  text-transform: uppercase;
  font-weight: 300;
  text-align: center;
}
.kepler-info_text p {
  font-size: 1.6rem;
  font-family: var(--fontPrimary);
  text-align: center;
}

@media (min-width: 480px) {
  .kepler-info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
    align-items: end;
    margin-top: 10rem;
  }
  .kepler-info_text {
    grid-row: 1/2;
  }
  .kepler-info_video {
    grid-column: 2/3;
  }
  .kepler-info_text p {
    text-align: right;
    padding-bottom: 2rem;
  }
  .kepler-info_text h2 {
    text-align: right;
  }
}

/* GRID VIDEOS  */

.info-videos {
  margin-top: 5rem;
  text-align: center;
}

.info-videos h2 {
  font-family: var(--fontSecundary);
  font-size: 3rem;
  text-transform: uppercase;
  padding-top: 2rem;
}
.info-videos button {
  border: 1px solid var(--VeryDarkGray);
  padding: 2rem;
}
.info-videos button a {
  font-family: var(--fontSecundary);
  text-transform: uppercase;
  color: var(--VeryDarkGray);
  font-weight: 700;
}
.info-videos button:hover {
  background-color: var(--Black);
}
.info-videos button:hover a {
  color: var(--White);
}

.grid-videos {
  margin-top: 5rem;
}
.grid-videos div {
  margin-top: 2rem;
}
.grid-videos img {
  width: 100%;
  height: auto;
}

.bg-info-videos {
  padding: 2rem 0;
  margin-top: 10rem;
}
@media (min-width: 480px) {
  .grid-videos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
    margin-top: 10rem;
  }
  .info-videos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
  }
  .grid-videos div {
    position: relative;
    overflow: hidden;
    border-radius: 0.5rem;
  }
  .grid-videos img:hover {
    transform: scale(1.1);
  }
  .grid-videos .vide-img {
    display: block;
    position: relative;
    z-index: 1;
    height: 35rem;
    object-fit: cover;
    transition: transform 300ms ease;
  }
  .bg-info-videos {
    padding: 0;
  }
}

/* footer */
.footer {
  background-color: var(--Black);
  color: var(--White);
  text-align: center;
  margin-top: 5rem;
  padding-bottom: 3rem;
  padding-top: 3rem;
}

.footer-info_brand-nav p {
  font-family: var(--fontSecundary);
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.8rem;
}
.footer-info_copy p {
  margin-bottom: 0;
}
.footer-info_brand-nav {
  margin-bottom: 5rem;
}

.footer-info_brand-nav a {
  color: var(--White);
}

@media (min-width: 480px) {
  .footer-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .footer-info_brand-nav {
    text-align: left;
  }
  .footer-info_copy {
    text-align: right;
  }

  .footer {
    margin-top: 13rem;
  }
  .footer-info_brand-nav {
    margin-bottom: 1rem;
  }
}

/* Sobre nosotros  */

.info-nosotros-kepler {
  margin-top: 4rem;
}

.info-nosotros-kepler h2 {
  font-size: 3.5rem;
  font-family: var(--fontSecundary);
  text-transform: uppercase;
  font-weight: 400;
}
.info-nosotros-kepler p {
  font-family: var(--fontSecundary);
  margin-bottom: 4rem;
}
.grid-cards {
  margin-bottom: 2rem;
  background-color: var(--ligthGray);
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0px 0px 21px 3px rgba(105, 105, 105, 0.75);
  -webkit-box-shadow: 0px 0px 21px 3px rgba(105, 105, 105, 0.75);
  -moz-box-shadow: 0px 0px 21px 3px rgba(105, 105, 105, 0.75);
}
.grid-cards h3 {
  font-weight: 900;
  font-size: 2rem;
  color: purple;
  text-transform: uppercase;
}
.grid-cards p {
  font-family: var(--fontSecundary);
  font-size: 1.8rem;
  margin-top: 2rem;
  font-weight: 600;
}

@media (min-width: 480px) {
  .grid-cards-nosotros {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
    margin-top: 10rem;
  }
}

/* bar institiutos  */

.bar-insti {
  text-align: center;
  margin-top: 5rem;
}
.bg-bar-insti p {
  font-size: 2.5rem;
  margin-top: 10rem;
  margin-bottom: 0;
  text-transform: capitalize;
  font-style: italic;
  color: gray;
}
.img-bar-insti {
  max-width: 80%;
  margin-top: 5rem;
}

@media (min-width: 480px) {
  .bar-insti {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 5rem;
    background-color: var(--ligthGray);
    padding: 2rem;
  }
  .img-bar-insti {
    filter: grayscale(1);
    margin: 0;
  }
  .img-bar-insti:hover {
    filter: none;
  }
}

/* cards nosotros  */

.cards-nosotros {
  margin-top: 5rem;
  padding: 2rem;
  background-color: var(--ligthGray);
  border-radius: 0.5rem;
}

@media (min-width: 480px) {
  .cards-nosotros-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    margin-top: 8rem;
  }
}
.cards-nosotros {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.cards-nosotros img {
  max-width: 5%;
  min-width: 25%;
  height: auto;
  border-radius: 50%;
  border: 3px solid #a443ffb0;
}

@media (min-width: 480px) {
  .cards-nosotros-heading {
    display: flex;
    align-items: center;
    gap: 3rem;
  }
}

.cards-nosotros-heading h4 a {
  color: var(--Black);
}

.cards-grid-materiales {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3rem;
  margin-top: 8rem;
}
